NEXT_PUBLIC_ALEO_API_BASE_URL=http://localhost:3030
NEXT_PUBLIC_ALEO_NETWORK=testnet
NEXT_PUBLIC_ALEO_PROGRAM_ID=zk_airdrop_claim.aleo
NEXT_PUBLIC_ALEO_WALLET_NETWORK=testnet
NEXT_PUBLIC_ALEO_DEVNET=true

ALEO_DEVNET_PRIVATE_KEY=APrivateKey1zkp8CZNn3yeCseEtxuVPbDCwSyhGW6yZKUYKfgXmcpoGPWH
ALEO_PROGRAM_PATH=你的真实路径/zk-airdrop-claim/programs/zk_airdrop_claim
ALEO_DEVNET_ENDPOINT=http://localhost:3030
ALEO_DEVNET_NETWORK=testnet
